<mat-toolbar color="primary">
    <h2>EmployeesApp</h2>
    <span class="example-spacer"></span>
    <mat-list-item routerLink="/home" routerLinkActive role="listitem">Home</mat-list-item>
    <span class="example-spacer"></span>
    <mat-list-item routerLink="/create" routerLinkActive role="listitem">Create</mat-list-item>
    <!--     <span class="example-spacer"></span>
    <mat-list-item routerLink="/edit" routerLinkActive role="listitem">Edit</mat-list-item> -->
    <span class="example-spacer"></span>
    <mat-list-item routerLink="/view" routerLinkActive role="listitem">View</mat-list-item>
</mat-toolbar>
<router-outlet></router-outlet>